/* FOND */
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}



/* MENU */
.navbar {
    background-color:#333 !important;
    color:  white; /* Couleur du texte */
    padding: 5px;
    text-align: center;
    top: 0;
    left: 0;
    height:5%;
    width: 100%; /* Corrigé pour la largeur */
    z-index: 100;
}

.navbar-brand logo {
    width: 50%;
    height: 50px;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #575757;
}
.nav-link{
color: white;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-menu {
    width: 230%;
}

/* TEXTE */
/* Styles du contenu principal */
h2 {
    flex: 1;
    padding: 20px;
}

.bienvenu {
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    top: 30;
}

.service {
    color: black;
}

.service a {
    text-decoration: none;
    color: black;
}

/* COPYRIGHT */
footer {
    font-style: oblique;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
}

/* Styles pour mobile */
@media (max-width: 768px) {

  body {
    font-size: 14px;
    /* Adapter d'autres propriétés si besoin */
      padding: 5px;
    }
    /* Adapter les autres éléments aussi */
  }
    
  .navbar-brand logo {
        width:auto !important;
        height: 10px;
    }
    
    .navbar-toggler {
        background-color: #fff !important;   /* Fond blanc */
        border-color: #fff !important;       /* Bordure blanche */
    }
    .menu.active {
        display: flex;
    }

  

    .menu a {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #444;
    }

.service {
    padding: auto;
}
.bienvenu {
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    width: 50;
}

    footer {
        width: 100%;
    }
}
