/* FOND */
body {
    font-family: "century gothic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ,serif ;

    
}

/* MENU */
.navbar {
    background:#333;
    color: #001f3f; /* Couleur du texte */
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    height:20%;
    width: 100%; /* Corrigé pour la largeur */
    z-index: 100;
}

.navbar-brand .logo {
    width: 50%;
    height: 50px;
}

.nav-item {
    color: white;
    text-decoration: none;
    padding: 10px 12px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #575757;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px;
}

.nav-menu {
    width: 230%;
}

/* TEXTE */
/* Styles du contenu principal */
h2 {
    flex: 1;
    padding: 20px;
}

.bienvenu {
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
    margin: 20px;
    top: 30%;
}

.service {
    color: black;
}

.service a {
    text-decoration: none;
    color: black;
}

/* COPYRIGHT */
footer {
    font-style: oblique;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
}

/* Styles pour mobile */
@media (max-width: 768px) {

    .navbar-brand .logo {
        width: 50%;
        height: 40px;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
        top: 60px;
        left: 0;
        background-color: #333;
        padding: 5px; /* Ajuster le padding pour mobile */
        height: 50px; /* Ajuster la hauteur pour mobile */
        position: fixed;
    }

    .menu.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    .menu a {
        text-align: center;
        padding: 15px;
        border-top: 1px solid #444;
    }

    footer {
        width: 100%;
    }
}
