/*mise en page du head*/
body{ font-family: "century gothic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ,serif 
    ;
    background-color: rgb(11, 41, 131);
    background-size : cover;
    background-repeat : no-repeat;
    box-sizing :border-box;
}


.img{
    max-width: 100% ;
    height: auto;

}

h2{ color:darkgoldenrod;
}

h3{color: darkgoldenrod; 
}

#Connexion:hover { color: white;
}

.option a{
  color: #ffff;!important
  text-decoration: inderline;
  text-align: none;
  
}


#Connexion{
 background-color: darkgoldenrod;
 color: black;
 padding: 5px 10px;
}
footer { 
    font-style:oblique;
    color:darkgoldenrod;
    text-align: center;
    float: absolute;
    top: 80%;
    left: 40%;
       

}




































