/* FOND*/
body{ font-family: "century gothic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ,serif ;   
    background-color: #fff;

}

.homme {
    position: fixed;
    right: 0; /* Position à droite */
    top: 50%;
    width: 300px;
}

.Details a{
    text-decoration-line: none;
    color: white;
}

/*COOPYIGHT*/ 
footer { 
    font-family:oblique;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    width: auto;
   
}

/* Styles pour mobile */
@media (max-width: 768px) {
    body{
        flex-direction: column;
    }
   
    footer{
        width: auto;
   }
}
